.main{
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    margin-top: 90px;
}
.main> h3{
    font-size: 3.5em;
    line-height: 1em;
    text-align: center;
    margin-top: 60px;
    color: #212121;
}
.main> p{
    color: #4E4E4E;
    text-align: center;
    margin: 32px 0 32px 0;
    max-width: 900px;
}
.hypothesis> h4{
    font-size: 2em;
}
.hypothesis> p{
    color: #4E4E4E;
}
.hypothesis> div{
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-top: 44px;
}
.hypothesis> div> div{
    height: 228px !important;
}
.hypoLinks{
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    gap: 12px !important;
}
.hypoLinks a{
    padding-block: 12px;
}
.companies{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 25px;
    margin-top: 20px;
}
.companies>div{
    background: #fff;
    border-radius: 12px;
    border: 0.932px solid var(--foundation-secondary-colour-grey-50, #E9E9E9);
    width: 120px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.concept{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 30px 0 60px 0;
}
.concept > div{
    text-align: center;
    height: 250px;
}
.slider{
    display: flex;
    margin-top: 35px;
    justify-content: center;
    gap: 32px;
    width: 1200px;
    overflow-x: visible;
    flex-shrink: 0;
}
.slider> div{
    min-width: 470px !important;
}
.sliderContainer{
    width: 100%;
    overflow: hidden;
}