
.main{
    display: flex;
    flex-direction: column;
    padding: 22px;
    align-items: center;
    margin-top: 90px;
}
.main> h3{
    font-size: 3.5em;
    line-height: 1em;
    text-align: center;
    margin-top: 60px;
    color: #212121;
}
.main> p{
    color: #4E4E4E;
    text-align: center;
    margin: 32px 0 32px 0;
    max-width: 900px;
}
.aof{
    display: flex;
    overflow-x: auto;
    margin: 16px auto 64px auto;
    width: 100%;
    flex-shrink: 0;
    justify-content: center;
}
.hypothesis> h4{
    font-size: 2em;
}
.hypothesis> p{
    color: #212121;
}
.hypothesis> div{
    position: relative;
    display: flex;
    width: 100%;
    gap: 28px;
    margin-top: 44px;
}
.hypothesis> div> div{
    height: fit-content;
    min-height: 228px;
}
.hypoLinks{
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    gap: 12px !important;
    flex-wrap: wrap;
}
.hypoLinks a{
    padding-block: 12px;
}
.companies{
    display: grid;
    /* grid-template-rows: repeat(auto-fit, 60px); */
    grid-template-columns: repeat(auto-fit, 120px);
    gap: 18px;
    width: 100%;
    place-content: center;
    max-width: 1100px;
    margin-top: 20px;
}
.companies>div{
    background: #fff;
    border-radius: 12px;
    border: 0.932px solid #E9E9E9;
    width: 120px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.concept{
    display: flex;
    gap: 40px;
    overflow-x: auto;
    margin: 30px 0 60px 0;
}
.concept > div{
    text-align: center;
    height: 250px;
}
.slider{
    display: flex;
    margin-top: 35px;
    gap: 32px;
    width: 1200px;
    flex-shrink: 0;
}
.slider> div{
    min-width: 470px !important;
}
.sliderContainer{
    width: 100%;
    overflow-x: scroll;
}
.sliderControls{
    display: flex;
    justify-content: center;
    gap: 75px;
    margin: 75px 0 60px 0;
}
.sliderControls> div{
    width: 66px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #4E4E4E;
    font-size: 1.8em;
    color: #4E4E4E;
    cursor: pointer;
}
.wwbSection{
    display: flex;
    margin: 24px 0 60px 0;
    overflow-x: auto;
    width: 100%;
    flex-shrink: 0;
    justify-content: center;
}
.wwbSection > div{
    gap: 17px;
    justify-content: flex-start;
}
.noMarginP{
    margin: 0 !important;
}
.departments{
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    margin: 36px 0 60px 0;
    justify-content: center;
}
.departments > div{
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
}
.departments > div > img{
    width: 30px;
    height: 30px;
}
.testsText{
    width: 45%;
    min-width: 280px;
}
.testsGrid{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    min-width: 300px;
}
.testWrapper{
    display: flex;
    gap: 24px;
    padding: 0 24px;
    margin-block: 60px;
}
.testsGrid> div{
    display: flex;
    gap: 32px;
}
.testsGrid> div > div{
    width: 300px;
}
.testNum{
    display: flex;
    align-items: center;
    gap: 5px !important;
}
.testsGrid hr{
    width: 100%;
}
.pMaxWidth{
    max-width: 500px !important;
}
.mattersCardWrapper{
    display: flex;
    gap: 10px;
    width: 100%;
    overflow-x: scroll;
    margin: 32px 0 60px 0;
}
.mattersCardWrapper > div{
    display: flex;
    height: 328px;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    flex-shrink: 0;
}
.mattersCardWrapper > div> p{
    font-size: 1.5em;
    color: #212121;
    max-width: 232px;
}
.mattersCardWrapper > div> img{
    width: 200px;
    height: 160px;
    flex-shrink: 0;
}
.dealsGrid{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    max-width: 1200px;
    margin: 12px 0 60px 0;
    border-top:  0.5px solid #A4A4A4;
    font-size: 0.9em;
    overflow-x: auto;
    width: 100%;
}
.dealsGrid > div{
    padding: 20px;
    border-bottom:  0.5px solid #A4A4A4;
    border-right:  0.5px solid #A4A4A4;
    /* height: 150px; */
}
.dealsGrid > h4{
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 12px;
}
.dealsGrid ul{
    padding-left: 10px;
}
.dealsGrid li{
    list-style-type: "✓ ";
    font-size: 0.85em;
}
.dealsGrid li> span{
    color: #1F66AB;
}
.dealsGrid li::marker {
    font-weight: 900;
  }
  .dealsGrid > div:last-of-type{
    background: #101010;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 12px;
  }
.resources{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    align-items: center;
    gap: 32px;
    max-width: 1200px;
    height: 380px;
    margin: 80px 0 60px 0;
}
.resources> div{
    width: 378px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;
}
.resources> div> iframe{
    height: 243px;

}
.resources> div> div{
    display: flex;
    justify-content: space-between;
}
.resources> div> div img{
    width: 85px;
    height: 79px;
    border-radius: 8px;
    flex-shrink: 0;
}
.featured{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    margin-top: 44px;
    margin-bottom: 60px;
    gap: 32px;
}
.featured> div{
    width: 895px;
    flex-shrink: 0;
    height: 393px;
    background: #fff;
    display: flex;
}
.featured> div>img{
    width: 70%;
    height: 100%;
    object-fit: cover;
}
.featured> div> div{
    padding: 40px 20px;
    font-size: 0.95em;
}
.featured> div> div> img{
    width: 85px;
}
.featured> div> div> p:first-of-type{
    font-weight: 600;
    margin: 16px 0 10px 0;
}
.featured> div> div> p:last-of-type{
    line-height: 1.6em;
    margin: 20px 0 0 0;
}
.h2{
    font-size: 4em !important;
    text-align: center;
    max-width: 800px;
    line-height: 1.2em;
}
@media (max-width: 400px) {
    .main> h3{
        font-size: 2.5em;
    }
}
.resources div > p:first-of-type{
    font-weight: 600;
}
@media (max-width: 508px) {
    .hypoLinks{
        justify-content: center !important;
    }
}
@media (max-width: 950px) {
    .testWrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .testsText{
        text-align: center;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .testsGrid{
        width: 70%;
        gap: 30px;
    }
    .testsGrid> div{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
@media (max-width: 1200px) {
    .wwbSection, .aof{
        justify-content: flex-start;
    }
}
